<h1>hello </h1>
<ul>
    {{#each data}}
    <a href="{{getFlower this.id}}" <li>{{this.name}}

        {{!-- <a href="/flower/{{this.id}}" <li>{{this.name}} --}}
        <img src="{{this.img}}" />
        </li>
    </a>
    {{/each }}

</ul>